# 1.Scrapping most viewed videos information from youtube

In [72]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
import pandas as pd

In [73]:
# connect to web driver
driver=webdriver.Chrome('chromedriver.exe')

In [74]:
# connect webpage through web driver
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [75]:
# Creaing empty lists
vid_name=[]
uploader=[]
views=[]
upload_date=[]

In [76]:
# Scrapping video name
name=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]/a")

In [77]:
for i in name:
    nam=i.text
    vid_name.append(nam)

In [78]:
vid_name=vid_name[0:30]

In [79]:
len(vid_name)

30

In [80]:
# scrapping name of the uoloader
upload=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")

In [81]:
for i in upload:
    up=i.text
    uploader.append(up)

In [82]:
uploader=uploader[0:30]
len(uploader)

30

In [83]:
# scrapping number of views
view_tag=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")

In [84]:
for i in view_tag:
    view=i.text
    views.append(view)

In [85]:
views=views[0:30]

In [86]:
len(views)

30

In [87]:
# scrapping upaload date
uploada_date_tag=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")

In [88]:
for i in uploada_date_tag:
    date=i.text
    upload_date.append(date)

In [89]:
upload_date=upload_date[0:30]

In [90]:
len(upload_date)

30

In [91]:
videos=pd.DataFrame({})
videos['Video_name']=vid_name
videos['Uploader']=uploader
videos['Upload_date']=upload_date
videos['Views']=views

In [92]:
videos

,Video_name,Uploader,Upload_date,Views
0,Baby Shark Dance,Pinkfong Kids' Songs & Stories,"June 17, 2016",8.09
1,Despacito,Luis Fonsi,"January 12, 2017",7.24
2,Shape of You,Ed Sheeran,"January 30, 2017",5.21
3,See You Again,Wiz Khalifa,"April 6, 2015",4.99
4,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",4.90
5,Uptown Funk,Get Movies,"January 31, 2012",4.42
6,Gangnam Style,Mark Ronson,"November 19, 2014",4.11
7,Sorry,Psy,"July 15, 2012",4.00
8,Sugar,Miroshka TV,"February 27, 2018",3.74
9,Roar,Cocomelon â€“ Nursery Rhymes,"May 2, 2018",3.74
10,Counting Stars,ChuChu TV,"March 6, 2014",3.60
11,Thinking Out Loud,Justin Bieber,"October 22, 2015",3.41
12,Dame Tu Cosita,Maroon 5,"January 14, 2015",3.41
13,Shake It Off,Katy Perry,"September 5, 2013",3.29
14,Faded,OneRepublic,"May 31, 2013",3.21
15,Dark Horse,Ed Sheeran,"October 7, 2014",3.20
16,Lean On,El Chombo,"April 5, 2018",3.15
17,Bailando,Taylor Swift,"August 18, 2014",3.03
18,Girls Like You,Alan Walker,"December 3, 2015",3.00
19,Let Her Go,Katy Perry,"February 20, 2014",2.99
20,Mi Gente,Major Lazer Official,"March 22, 2015",2.99
21,Hello,Enrique Iglesias,"April 11, 2014",2.98
22,Perfect,Maroon 5,"May 31, 2018",2.97
23,Waka Waka (This Time for Africa),Passenger,"July 25, 2012",2.93
24,Blank Space,J Balvin,"June 29, 2017",2.88
25,Chantaje,Adele,"October 22, 2015",2.80
26,Pinkfong,Ed Sheeran,"November 9, 2017",2.76
27,Luis Fonsi,Shakira,"June 4, 2010",2.76
28,Wiz Khalifa,Taylor Swift,"November 10, 2014",2.73
29,Psy,Shakira,"November 18, 2016",2.63

In [93]:
driver.close()

# 2.Scrape the details team Indiaâ€™s international fixtures from bcci.tv

In [140]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
import pandas as pd

In [141]:
# connect to web driver
driver=webdriver.Chrome('chromedriver.exe')

In [142]:
driver.get("https://www.bcci.tv/")

In [154]:
inter=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']")

In [159]:
inter.click()

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=88.0.4324.190)

# 3.Scrape the details of selenium exception from guru99.com.

In [97]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
import pandas as pd

In [98]:
# connect to web driver
driver=webdriver.Chrome('chromedriver.exe')

In [99]:
driver.get('https://www.guru99.com/')

In [100]:
# Click on selenium
sele=driver.find_element_by_xpath("//ul[@class='menu']/li[3]")

In [101]:
sele.click()

In [102]:
# connect to web driver
driver.get('https://www.guru99.com/selenium-tutorial.html')

In [103]:
/# Click on Exception handling
exc=driver.find_element_by_xpath("//table[@class='table']/tbody/tr[34]/td/a")

In [104]:
exc.click()

In [105]:
# creating empty list
Exception_name=[]
Description=[]

In [106]:
# connect to web driver
driver.get('https://www.guru99.com/exception-handling-selenium.html')

In [107]:
#scrapping name
exc_name=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")

for i in exc_name:
    exception=i.text
    
    Exception_name.append(exception)
    
len(Exception_name)

42

In [108]:
#scrapping description
desc=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")

for i in desc:
    description=i.text
    
    Description.append(description)
    
len(Description)

42

In [109]:
# Creating dataframe 

Exception_details=pd.DataFrame({})
Exception_details['Exception_name']=Exception_name[1:]
Exception_details['Description']=Description[1:]

In [110]:
Exception_details

,Exception_name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [111]:
driver.close()

# 4.Scrape the details of State-wise GDP of India from statisticstime.com.

In [112]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
import pandas as pd

In [113]:
# connect to web driver
driver=webdriver.Chrome('chromedriver.exe')

In [114]:
url='http://statisticstimes.com/'

In [115]:
#connecting webpage through webdriver
driver.get(url)

In [116]:
#Click on economy
economy=driver.find_element_by_xpath("//div[@class='navbar']/div[2]")

In [117]:
economy.click()

In [118]:
# click on india
driver.find_element_by_xpath("//div[@class='dropdown-content']/a[3]").click()

In [119]:
# Specifying url to be scrapped
url='http://statisticstimes.com/economy/india-statistics.php'

In [120]:
#connecting webpage through web drivers
driver.get(url)

In [121]:
# click on GDP state wise
gd=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li[1]/a")

In [122]:
gd.click()

In [123]:
# Specifying url to be scrapped
url='http://statisticstimes.com/economy/india/indian-states-gdp.php'

In [124]:
#connecting webpage through web drivers
driver.get(url)

In [125]:
#Creating empty list
Rank=[]
State=[]
GSDP_19_20=[]
GSDP_18_19=[]
Share_18_19=[]
GDP=[]

In [126]:
rank_tag=driver.find_elements_by_xpath("//tr[@class='odd']/td[1]")

for i in rank_tag:
    rank=i.text
    
    Rank.append(rank)
    
len(Rank)

34

In [127]:
State_tag=driver.find_elements_by_xpath("//tr[@class='odd']/td[2]")

for i in State_tag:
    state=i.text
    
    State.append(state)
    
len(State)

34

In [128]:
Gsdp_tag=driver.find_elements_by_xpath("//tr[@class='odd']/td[3]")

for i in Gsdp_tag:
    Gs=i.text
    
    GSDP_19_20.append(Gs)
    
len(GSDP_19_20)

34

In [129]:
Gsdp_tag1=driver.find_elements_by_xpath("//tr[@class='odd']/td[4]")

for i in Gsdp_tag1:
    Gs=i.text
    
    GSDP_18_19.append(Gs)
    
len(GSDP_18_19)

34

In [130]:
share_tag=driver.find_elements_by_xpath("//tr[@class='odd']/td[4]")

for i in share_tag:
    share=i.text
    
    Share_18_19.append(share)
    
len(Share_18_19)

34

In [131]:
Gdp=driver.find_elements_by_xpath("//tr[@class='odd']/td[5]")

for i in Gdp:
    Gd=i.text
    
    GDP.append(Gd)
    
len(GDP)

34

In [132]:
#creating data frame
GDP_states=pd.DataFrame({})
GDP_states['Rank']=Rank
GDP_states['State']=State
GDP_states['GSDP_19_20']=GSDP_19_20
GDP_states['GSDP_18_19']=GSDP_18_19
GDP_states['Share_18_19']=Share_18_19
GDP_states['GDP']=GDP

In [133]:
GDP_states

   Rank                      State GSDP_19_20 GSDP_18_19 Share_18_19     GDP
0     1                Maharashtra          -  2,632,792   2,632,792  13.88%
1     3              Uttar Pradesh  1,687,818  1,584,764   1,584,764   8.35%
2     5                  Karnataka  1,631,977  1,493,127   1,493,127   7.87%
3     7                  Rajasthan  1,020,989    942,586     942,586   4.97%
4     9                  Telangana    969,604    861,031     861,031   4.54%
5    11                     Kerala          -    781,653     781,653   4.12%
6    13                    Haryana    831,610    734,163     734,163   3.87%
7    15                     Punjab    574,760    526,376     526,376   2.77%
8    17                      Assam          -    315,881     315,881   1.67%
9    19                  Jharkhand    328,598    297,204     297,204   1.57%
10   21            Jammu & Kashmir          -    155,956     155,956   0.82%
11   23                        Goa     80,449     73,170      73,170   0.39%
12   25                 Chandigarh          -     42,114      42,114   0.22%
13   27                  Meghalaya     36,572     33,481      33,481   0.18%
14   29                    Manipur     31,790     27,870      27,870   0.15%
15   31          Arunachal Pradesh          -     24,603      24,603   0.13%
16   33  Andaman & Nicobar Islands          -          -           -       -
17    1                Maharashtra          -  2,332,992   2,332,992  13.90%
18    3              Uttar Pradesh  1,495,758  1,404,761   1,404,761   8.37%
19    5                    Gujarat          -  1,322,936   1,322,936   7.88%
20    7                  Rajasthan    916,014    845,247     845,247   5.03%
21    9             Andhra Pradesh    875,429    776,140     776,140   4.62%
22   11                     Kerala          -    707,542     707,542   4.21%
23   13                    Haryana    755,790    666,075     666,075   3.97%
24   15                     Punjab    517,521    472,506     472,506   2.81%
25   17                      Assam          -    282,782     282,782   1.68%
26   19               Chhattisgarh    288,041    266,537     266,537   1.59%
27   21           Himachal Pradesh    143,063    133,303     133,303   0.79%
28   23                        Goa     72,181     66,060      66,060   0.39%
29   25                 Chandigarh          -     37,571      37,571   0.22%
30   27                  Meghalaya     32,833     29,544      29,544   0.18%
31   29                     Sikkim     28,391     25,141      25,141   0.15%
32   31          Arunachal Pradesh          -     22,488      22,488   0.13%
33   33  Andaman & Nicobar Islands          -          -           -       -

In [134]:
driver.close()

# 7.Scrape the details of Data science recruiters from naukri.com

In [173]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.common.action_chains import ActionChains
import pandas as pd

In [149]:
# connect to web driver
driver=webdriver.Chrome('chromedriver.exe')

In [150]:
# Specifying url
url="https://www.naukri.com/"

In [151]:
# Connect webpage through web driver
driver.get(url)

In [178]:
#click on Recruiter
element=driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")

In [181]:
url=element.get_attribute('href')

In [182]:
driver.get(url)

In [186]:
#search bar
Search=driver.find_element_by_xpath("//div[@class='inpWrap']/input")

In [190]:
#send_keywords
Search.send_keys('Data science')

In [191]:
#search button
button=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")

In [192]:
button.click()

In [216]:
# Specifing url to be scraped
url="https://www.naukri.com/data-scientist-data-science-recruiters"

In [217]:
# connect webpage through web drivers
driver.get(url)

In [224]:
#creating empty lists
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

In [225]:
name_tag=driver.find_elements_by_xpath("//p[@class='highlightable']")

for i in name_tag:
    name=i.text
    
    Name.append(name)
    
Name

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

# 8.Scrape the details of Highest selling novels.

In [104]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
import pandas as pd

In [105]:
# connect to web driver
driver=webdriver.Chrome('chromedriver.exe')

In [107]:
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"

In [56]:
# connect webpage through web driver
driver.get(url)

In [82]:
# Creating empty lists
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [83]:
name_tag=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")

for i in name_tag:
    name=i.text
    
    Book_name.append(name)
len(Book_name)

100

In [84]:
author_tag=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")

for i in author_tag:
    author=i.text
    
    Author_name.append(author)
len(Author_name)

100

In [85]:
volume_tag=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")

for i in volume_tag:
    vol=i.text
    
    Volumes_sold.append(vol)
len(Volumes_sold)

100

In [86]:
publisher_tag=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")

for i in publisher_tag:
    pub=i.text
    
    Publisher.append(pub)
len(Publisher)

100

In [87]:
genre_tag=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")

for i in genre_tag:
    gen=i.text
    
    Genre.append(gen)
len(Genre)

100

In [102]:
#creating data frame
Book=pd.DataFrame({})
Book['Book_name']=Book_name
Book['Author_name']=Author_name
Book['Volumes_sold']=Volumes_sold
Book['Publisher']=Publisher
Book['Genre']=Genre

Book

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Action, Adventure, Drama"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,"Drama, Fantasy, Horror"
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,"Drama, Horror, Thriller"
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,"Drama, Mystery, Thriller"
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,"Drama, Mystery, Sci-Fi"
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,"Drama, Fantasy"
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,"Adventure, Comedy, Drama"
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,"Crime, Drama, Mystery"
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,"Crime, Drama, Horror"
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,"Drama, Horror, Mystery"

In [108]:
driver.close()

# 9. Scrape the details most watched tv series of all time from imdb.com.

In [88]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
import pandas as pd

In [89]:
# connect to web driver
driver=webdriver.Chrome('chromedriver.exe')

In [90]:
url="https://www.imdb.com/list/ls095964455/"

In [91]:
# connect webpage through web driver
driver.get(url)

In [92]:
# creating empty list
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

In [93]:
#Scrapping name
name_tag=driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/a")

for i in name_tag:
    name=i.text
    
    Name.append(name)
    
len(Name)

100

In [94]:
#Scrapping year
year_tag=driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3/span[2]")

for i in year_tag:
    year=i.text
    
    Year_span.append(year)
len(Year_span)

100

In [95]:
#Scrapping genre
genre_tag=driver.find_elements_by_xpath("//div[@class='lister-item-content']/p/span[5]")

for i in genre_tag:
    genre=i.text
    
    Genre.append(genre)
    
len(Genre)

100

In [96]:
#Scrapping Run time
run_tag=driver.find_elements_by_xpath("//div[@class='lister-item-content']/p/span[3]")

for i in run_tag:
    run=i.text
    
    Run_time.append(run)
    
len(Run_time)

100

In [97]:
#Scrapping Rating
rating_tag=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")

for i in rating_tag:
    rat=i.text
    
    Ratings.append(rat)
    
len(Ratings)

100

In [98]:
#Scrapping votes
vote_tag=driver.find_elements_by_xpath("//span[@name='nv']")

for i in vote_tag:
    vote=i.text
    
    Votes.append(vote)
    
len(Votes)

100

In [99]:
#creating data frame
Imdb=pd.DataFrame({})
Imdb['Name']=Name
Imdb['Year_span']=Year_span
Imdb['Genre']=Genre
Imdb['Run_time']=Run_time
Imdb['Ratings']=Ratings
Imdb['Votes']=Votes

In [100]:
Imdb

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011â€“2019),"Action, Adventure, Drama",57 min,9.3,"1,778,972"
1,Stranger Things,(2016â€“ ),"Drama, Fantasy, Horror",51 min,8.7,"829,490"
2,The Walking Dead,(2010â€“ ),"Drama, Horror, Thriller",44 min,8.2,"857,104"
3,13 Reasons Why,(2017â€“2020),"Drama, Mystery, Thriller",60 min,7.6,"257,301"
4,The 100,(2014â€“2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,860"
...,...,...,...,...,...,...
95,Reign,(2013â€“2017),"Drama, Fantasy",42 min,7.5,"43,783"
96,A Series of Unfortunate Events,(2017â€“2019),"Adventure, Comedy, Drama",50 min,7.8,"54,119"
97,Criminal Minds,(2005â€“2020),"Crime, Drama, Mystery",42 min,8.1,"162,349"
98,Scream: The TV Series,(2015â€“2019),"Crime, Drama, Horror",45 min,7.2,"34,211"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"184,031"

In [101]:
driver.close()